<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>642400602719-d6rqv6ngucd23jda6duh8hq2hf9scva2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642400602719-d6rqv6ngucd23jda6duh8hq2hf9scva2</string>
	<key>API_KEY</key>
	<string>AIzaSyBiqRe_uTGosRqRp92QPz6dcIuTyzu-Dw8</string>
	<key>GCM_SENDER_ID</key>
	<string>642400602719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.datvo.Eng-App</string>
	<key>PROJECT_ID</key>
	<string>fir-43245</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-43245.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642400602719:ios:b0b962c2b6f20ab8</string>
	<key>DATABASE_URL</key>
	<string>https://fir-43245.firebaseio.com</string>
</dict>
</plist>